body{
    font-family: Arial;
    background:#f2f2f2;
    text-align:center;
}

form{
    margin:20px;
}

input, button{
    padding:10px;
    margin:5px;
}

.card{
    background:white;
    width:300px;
    margin:auto;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

img{
    width:100%;
    border-radius:10px;
}